@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: "Poppins", sans-serif;
    --bgcolor: #18191c;
    --white: #fff;
    --slider: #32353b;
    --opacity: 0.2;
    --baner: #32353b;
    --switch: #fff;
    --button: #202225;
    background-color: var(--bgcolor);
}
body[data-theme="light"] {
    font-family: "Poppins", sans-serif;
    --bgcolor: #fff;
    --white: #18191c;
    --slider: #b3b3b3;
    --opacity: 0.8;
    --baner: #fff;
    --switch: #18191c;
    --button: #cacaca;
    background-color: var(--bgcolor);
    transition: background-color 500ms;
}
body[data-theme="dark"] {
    font-family: "Poppins", sans-serif;
    --bgcolor: #18191c;
    --white: #fff;
    --slider: #32353b;
    --opacity: 0.2;
    --baner: #32353b;
    --switch: #fff;
    --button: #202225;
    background-color: var(--bgcolor);
    transition: background-color 500ms;
}
.discord {
    height: auto;
    width: auto;
    min-height: 600px;
    background-color: var(--bgcolor);
    transition: background-color 500ms;
}
.banner {
    background-color: var(--baner);
    max-height: 200px;
    min-height: 200px;
    height: auto;
    width: auto;
    transition: background-color 500ms;
}
.banner .baner {
    max-height: 200px;
    min-height: 200px;
    max-width: 498px;
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 206px;
}
.baner1 {
    position: relative;
    max-height: 200px;
    min-height: 200px;
    width: 100%;
    height: 100%;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
.image {
    max-height: 140px;
    max-width: 140px;
    height: auto;
    width: auto;
    border-radius: 50%;
    position: relative;
    bottom: 70px;
}
.border-image {
    border: 8px solid var(--bgcolor);
    transition: border 500ms;
}
.online {
    height: 24px;
    width: 24px;
    background-color: #3ea25e;
    border-radius: 50%;
    position: relative;
    bottom: 120px;
    left: 45px;
}
.border-online {
    border: 8px solid var(--bgcolor);
    transition: border 500ms;
}
.badge {
    position: relative;
    width: 16px;
    height: 16px;
    bottom: 180px;
    left: 120px;
}
.nitro {
    position: relative;
    width: 20px;
    height: 20px;
    bottom: 178px;
    left: 120px;
}
.nitroboost {
    position: relative;
    width: 16px;
    height: 16px;
    bottom: 180px;
    left: 120px;
}
.name {
    position: relative;
    bottom: 135px;
    color: var(--white);
}
.line {
    width: 100%;
    height: 1px;
    background-color: var(--slider);
    position: relative;
    transition: background-color 500ms;
}
.info {
    color: var(--white);
    position: relative;
    bottom: 190px;
    margin-left: 20px;
    margin-right: 20px;
    display: none;
    visibility: hidden;
    transition: color 500ms;
}
.portfolio {
    color: var(--white);
    position: relative;
    bottom: 190px;
    margin-left: 20px;
    margin-right: 20px;
    display: none;
    visibility: hidden;
    transition: color 500ms;
}
.socialmedia {
    color: var(--white);
    position: relative;
    bottom: 190px;
    margin-left: 20px;
    margin-right: 20px;
    display: none;
    visibility: hidden;
    transition: color 500ms;
}
.blog {
    color: var(--white);
    position: relative;
    bottom: 190px;
    margin-left: 20px;
    margin-right: 20px;
    display: none;
    visibility: hidden;
    transition: color 500ms;
}

.github {
    position: relative;
    background-color: var(--button);
    border-radius: 4px;
    height: 30px;
    width: 200px;
    margin: 10px 10px 10px 10px;
    left: 110px;
    top: 20px;
    transition: background-color 500ms;
}
.spotify {
    position: relative;
    background-color: var(--button);
    border-radius: 4px;
    height: 30px;
    width: 200px;
    margin: 10px 10px 10px 10px;
    right: 110px;
    bottom: 20px;
    transition: background-color 500ms;
}
.steam {
    position: relative;
    background-color: var(--button);
    border-radius: 4px;
    height: 30px;
    width: 200px;
    margin: 10px 10px 10px 10px;
    left: 110px;
    bottom: 20px;
    transition: background-color 500ms;
}
.twitch {
    position: relative;
    background-color: var(--button);
    border-radius: 4px;
    height: 30px;
    width: 200px;
    margin: 10px 10px 10px 10px;
    right: 110px;
    bottom: 60px;
    transition: background-color 500ms;
}
.twitter {
    position: relative;
    background-color: var(--button);
    border-radius: 4px;
    height: 30px;
    width: 200px;
    margin: 10px 10px 10px 10px;
    left: 110px;
    bottom: 60px;
    transition: background-color 500ms;
}
.youtube {
    position: relative;
    background-color: var(--button);
    border-radius: 4px;
    height: 30px;
    width: 200px;
    margin: 10px 10px 10px 10px;
    right: 110px;
    bottom: 100px;
    transition: background-color 500ms;
}
#github {
    position: relative;
    width: 16px;
    height: 16px;
    top: 6px;
    right: 115px;
}
#spotify {
    position: relative;
    width: 16px;
    height: 16px;
    top: 6px;
    right: 125px;
}
#twitch {
    position: relative;
    width: 16px;
    height: 16px;
    top: 6px;
    right: 120px;
}
#steam {
    position: relative;
    width: 16px;
    height: 16px;
    top: 6px;
    right: 120px;
}
#youtube {
    position: relative;
    width: 16px;
    height: 16px;
    top: 6px;
    right: 125px;
}
#twitter {
    position: relative;
    width: 16px;
    height: 16px;
    top: 6px;
    right: 120px;
}


#b {
    position: relative;
    left: 15px;
    top: 5px;
}
#bb {
    position: relative;
    left: 10px;
    top: 5px;
}
#bbb {
    position: relative;
    left: 10px;
    top: 5px;
}
#bbbb {
    position: relative;
    left: 15px;
    top: 5px;
}
#bbbbb {
    position: relative;
    left: 8px;
    top: 5px;
}
#bbbbbb {
    position: relative;
    left: 15px;
    top: 5px;
}
#c {
    position: relative;
    top: 2px;
    left: 15px;
    font-size: 13px;
}
#c {
    position: relative;
    top: 2px;
    left: 15px;
    font-size: 13px;
}
.clear {
    clear: both;
}

.slide-toggle {
    display: none;
}

.slidemenu {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    max-width: 600px;
    min-width: 390px;
    margin: 50px auto;
    overflow: hidden;
    position: relative;
    bottom: 150px;
}

.slidemenu label {
    width: 25%;
    text-align: center;
    display: block;
    float: left;
    color: var(--white);
    opacity: var(--opacity);
}

.slidemenu label:hover {
    cursor: pointer;
    color: rgb(177, 177, 177);
}

.slidemenu label span {
    display: block;
    padding: 1px;
}

/*Bar Style*/

.slider {
    width: 100%;
    height: 1px;
    display: block;
    background: var(--slider);
    margin-top: 7px;
    border-radius: 5px;
}

.slider .bar {
    width: 25%;
    height: 5px;
    background: var(--white);
    border-radius: 5px;
}

/*Animations*/
.slidemenu label,
.slider .bar {
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

/*Toggle*/

.slidemenu .slide-toggle:checked + label {
    opacity: 1;
}

.slidemenu #slide-item-1:checked ~ .slider .bar {
    margin-left: -75%;
}
.slidemenu #slide-item-2:checked ~ .slider .bar {
    margin-left: -25%;
}
.slidemenu #slide-item-3:checked ~ .slider .bar {
    margin-left: 25%;
}
.slidemenu #slide-item-4:checked ~ .slider .bar {
    margin-left: 75%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    bottom: 125px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider1 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--switch);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider1:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: #bbb;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider1 {
    background-color: var(--white);
}

input:focus + .slider1 {
    box-shadow: 0 0 1px var(--white);
}

input:checked + .slider1:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider1.round {
    border-radius: 34px;
}

.slider1.round:before {
    border-radius: 50%;
}
